<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zero edition of Vue-HN</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" charset="utf-8"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js" charset="utf-8"></script>
    <script src="https://unpkg.com/vuex@2.0.0" charset="utf-8"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
    <script src="./api.js"></script>
    <script src="./sync.js"></script>
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="inner">
                <a href="javascript:;">
                    <img src="../../website-icon/logo.png" alt="logo" class="logo">
                </a>
                <router-link to="/top">Top</router-link>
                <router-link to="/new">New</router-link>
                <router-link to="/show">Show</router-link>
                <router-link to="/ask">Ask</router-link>
                <router-link to="/jobs">Jobs</router-link>
                <a href="https://github.com/vuejs/vue-hackernews-2.0" target="_blank" class="github">
                        Bulid with Vue.js
                    </a>
            </div>
        </div>
        <router-view class="view"></router-view>
    </div>

    <script type="text/x-template" id="itemlist">
        <div class="top">
            <!-- <div class="nav">
                <div class="pages">
                    <router-link v-if='page > 1' :to="'/top/' + (page - 1)">&lt; prev</router-link>
                    <a v-else class="disabled">&lt; prev</a>
                    <span>{{ page }}/{{ maxPage }}</span>
                    <router-link v-if="hasMore" :to="'/top/' + (page + 1)">more &gt;</router-link>
                    <a v-else class="disabled">more &gt;</a>
                </div>
            </div> -->

            <transition :name="transition">
                <div class="news-list" :key="displayedPage" v-if="true">
                    <transition-group tag="ul" name="item">
                        <li v-for="item in displayedItems" :key="item.id" class="news-item">
                            <span class="score">{{ item.score }}</span>
                            <span class="title">
                                <template v-if="item.url">
                                    <a :href="item.url" target="_blank">{{ item.title }}</a>
                                    <span class="host">({{ item.url }})</span>
                                </template>
                                <template v-else>
                                    <router-link :to="'/item/' + item.id" >{{ item.title }}</router-link>
                                </template>
                            </span>
                            <br>
                            <span class="meta">
                                <span v-if="item.type !== 'job'" class="by">
                                    by <router-link :to="'/user/' + item.by">{{ item.by }}</router-link>
                                </span>
                                <span class="time">
                                    {{ item.time }} ago
                                </span>
                                <span v-if="item.type !== 'job'" class="comments-link">
                                    | <router-link :to="'/item/' + item.id ">{{ item.descendants }}</router-link>
                                </span>
                            </span>
                            <span class="label" v-if="item.type !== 'story'">{{ item.type }}</span>
                        </li>
                    </transition-group>
                </div>
            </transition>
        </div>
    </script>

    <script type="text/javascript">
        const ItemList = Vue.extend({
            template: '#itemlist',

            data() {
                const isInitialRender = !this.$root._isMounted
                return {
                    loading: false,
                    transition: 'slide-left',
                    displayedPage: isInitialRender ? Number(this.$store.state.route.params.page) || 1 : -1,
                    displayedItems: isInitialRender ? this.$store.getters.activeItems : []
                }
            },

            props: {
                type: String
            },

            computed: {
                page(){
                    return Number(this.$store.state.route.params.page) || 1
                },
                maxPage(){
                    const { itemsPerPage, lists } = this.$store.state
                    return Math.ceil(lists[this.type].length / itemsPerPage )
                },
                hasMore(){
                    return this.page < this.maxPage
                }
            },

            beforeMount(){
                if(this.$root._isMounted){
                    this.loadItems(this.page)
                }
                this.unwatchList = watchList(this.type, ids => {
                    this.$store.commit('SET_LIST', { type: this.type, ids })
                    this.$store.dispatch('ENSURE_ACTIVE_ITEMS').then(() => {
                        this.displayedItems = this.$store.getters.activeItems
                    })
                })
            },

            beforeDestroy(){
                this.unwatchList()
            },

            watch: {
                page(to, from){
                    this.loadItems(to, from)
                }
            },

            methods: {
                loadItems(to = this.page, from = -1){
                    this.loading = true
                    this.$store.dispatch('FETCH_LIST_DATA', {
                        type: this.page
                    }).then(() => {
                        if(this.page < 0 || this.page > this.maxPage){
                            this.$router.replace(`/${this.type}/1`)
                            return
                        }
                        this.transition = to > from ? 'slide-left' : 'slide-right'
                        this.displayedPage = to
                        this.displayedItems = this.$store.getters.activeItems
                        this.loading = false
                    })
                }
            }

        });



        function createListView(type) {
            return {
                name: `${type}-stories-view`,
                preFetch(store) {
                    return store.dispatch('FETCH_LIST_DATA', { type })
                },
                render(h){
                    return h(ItemList, { props: { type }})
                }
            }
        }

        const router = new VueRouter({
            routes: [
                { path: '/top/:page(\\d+)?', component: createListView('top') },
                { path: '/new/:page(\\d+)?', component: createListView('new') },
                { path: '/show/:page(\\d+)?', component: createListView('show') },
                { path: '/ask/:page(\\d+)?', component: createListView('ask') },
                { path: '/job/:page(\\d+)?', component: createListView('job') },
            ]
        });

        const store = new Vuex.Store({
            state: {
                itemsPerPage: 20,
                items: { },
                users: { },
                lists: {
                    top: [],
                    new: [],
                    show: [],
                    ask: [],
                    job: []
                }
            },

            actions: {
                FETCH_LIST_DATA: ({ commit, dispatch, state }, { type }) => {
                    commit('SET_ACTIVE_TYPE', { type })
                    return fetchIdsByType(type)
                        .then(ids => commit('SET_LIST', { type, ids }))
                        .then(() => dispatch('ENSURE_ACTIVE_ITEMS'))
                },

                ENSURE_ACTIVE_ITEMS: ({ dispatch, getters }) => {
                    return dispatch('FETCH_ITEMS', {
                        ids: getters.activeIds
                    })
                },

                FETCH_ITEMS: ({ commit, state }, { ids }) => {
                    ids = ids.filter(id => !state.items[id])
                    if(ids.length){
                        return fetchItems(ids).then(items => commit('SET_ITEMS', { items }))
                    }else {
                        return Promise.resolve()
                    }
                },

                FETCH_USER: ({ commit, state }, { id }) => {
                    return state.users[id]
                        ? Promise.resolve(state.users[id])
                        : fetchUser(id).then(user => commit('SET_USER', { user }))
                }
            },

            mutations: {
                SET_ACTIVE_TYPE: (state, { type }) => {
                    state.activeType = type
                },

                SET_LIST: (state, { type, ids }) => {
                    state.lists[type] = ids
                },

                SET_ITEMS: (state, { items }) => {
                    items.forEach( item => {
                        if(item){
                            Vue.set(state.items, item.id, item)
                        }
                    })
                },

                SET_USER: (state, { user }) => {
                    Vue.set(state.users, user.id, user)
                }
            },

            getters: {
                activeIds(state){
                    const { activeType, itemsPerPage, lists } = state
                    const page = Number(state.route.params.page) || 1
                    if(activeType){
                        const start = (page-1) * itemsPerPage
                        const end = page * itemsPerPage
                        return lists[activeType].slice(start, end)
                    }else {
                        return []
                    }
                },

                activeItems (state, getters){
                    return getters.activeIds.map(id => state.items[id]).filter(_ => _)
                }
            }
        })

        sync(store, router);

        new Vue({
            router,
            store,
            el: '#app'
        })
    </script>

    <script src="./app.js"></script>

</body>

</html>
