body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15px;
    background-color: lighten(#eceef1, 30%);
    margin: 0;
    padding-top: 55px;
    color: #34495e;
}
a {
    color: #34495e;
    text-decoration: none;
}
.header {
    background-color: #ff6600;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}
.header .inner {
    max-width: 800px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 15px 15px;
}
.header a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    transition: #fff 0.15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: 0.75em;
    margin-left: 1.8em;
}
.header a:hover {
    color: #fff
}
.header a.router-link-active {
    color: #fff;
    font-weight: 400;
}
.header a:nth-child(6) {
    margin-right: 0;
}
.logo {
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.view {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

@media (max-width: 860px) {
    .header, .inner {
        padding: 15px 30px;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .header .inner {
        padding: 15px;
    }
    .header a {
        margin-left: 1em;
    }
    .header .github {
        display: none;
    }
}
