body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(243, 245, 245);
    margin: 0;
    color: #34495e;
}
.header {
    background-color: #ff6600;
}
.header .inner {
    margin: 0px auto;
    max-width: 800px;
    padding: 15px 15px;
}

.header .inner a {
    display: inline-block;
    text-decoration: none;
    margin-right: 1.8em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    vertical-align: middle;
}
.header .inner a:hover {
    color: #fff;
    font-weight: 400;
}
.header .inner .github {
    float: right;
    margin: 3px 0px 0px 0px;
}
.header .inner .logo {
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.nav {
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.nav .pages {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
.nav .pages a {
    color: inherit;
    text-decoration: none;
    margin: 0 1em;
}
@media (max-width: 860px) {
    .header .inner {
        padding: 15px 30px;
    }
}
@media (max-width: 600px) {
    .header .inner {
        padding: 15px;
    }
    .header .inner a {
        margin-right: 1em;
    }
    .header .inner .github {
        display: none;
    }
}
